/* CSS reset */
/* Normally do CSS reset first before styling */
body{
    margin: 0px;
    padding: 0px;
}


nav {
    display: flex;
    /* push the content to the left and right */
    /* what are the option? center, space-evenly, space-around*/
    justify-content: space-between;
    /* will alight left and right item vertically */
    align-items: center;
    background-color: whitesmoke;
    padding: 1em; /*1em -> 15px*/
}

nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
    margin: 0.8em;
}

nav ul li a{
    color: goldenrod;
    text-decoration: none;
}

nav ul li a:hover{
    text-decoration: underline;
}

header{
    /* background-color: aqua; */
    background-image: url('banner.jpg');
    background-size: cover;
    text-align: center;
    padding: 7.5em;
}

header h1{
    color: gold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header p{
    color: antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cta-btn{
    background-color: blue;
    padding: 0.8em 1.8em;
    color: white;
    border: none;
    font-size: 1.1em;
    cursor: pointer;
}

.cta-btn:hover{
    background-color: rgb(133, 39, 180);
}

#about {
    background-color: blanchedalmond;
    padding: 1.8em 2em;
}

#about img{
    width: 100%;
}

.about-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.8em;
}

.services-container {    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2em;
}

.services-box {
    background-color: bisque;
    text-align: center;
}

#services h2{
    text-align: center;
}

footer{
    background-color: darkgoldenrod;
    text-align: center;
    color: azure;
    padding: 0.05em 0.3em;
}

/* Gradual Reduction */

/* Tablet Design */
@media(max-width:768px){

    .services-container {    
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row: auto auto;
        margin: 1.8em;
        gap: 2em;
    }
}

/* Mobile design */
@media(max-width:576px){
    .about-container{
        grid-template-columns: 1fr;
        grid-row: auto auto;
        gap: 1.8em;
    }

    .services-container {    
        display: grid;
        grid-template-columns: 1fr;
        grid-row: auto auto;
        margin: 0.8em;
        gap: 0.6em;
    }
}